numpy== 1.26.4
pandas== 2.3.3
scikit-learn== 1.5.1
category-encoders== 2.6.3
imbalanced-learn== 0.12.3
xgboost== 2.1.1
matplotlib== 3.10.6
seaborn== 0.13.2
streamlit== 1.46.0
lime== 0.2.0.1
joblib== 1.4.2
